<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>My Website - About</title>
</head>
<body>
<h1>Shaznay Walker</h1>
<p> Hey there👋! I'm a third-year student in the day time, a food explorer and culture enthusiast by night!<br>
Sorta like Batman but cooler. Whether I'm trying new dishes🍜, discovering new music artists🎵, or <br> binge-watching
Asian dramas📺, I'm all about trying different experiences. Life's too short to be boring! <br> I also spend lots of time 
with youngersister who's my absolute best friend. Recently we have been doing <br> adventurous activities together like 
pottery and archery. Hopefully we keep this up and make even more memories together.</p>
</body>
</html>